
*{
  font-family: $montserrat;
}
.nav{
 
  font-size: $medium;
  font-weight: $medium;
}
.random-boton{
  font-size: $medium;
  font-weight: $bold;
}
.ingresa-pokemon{
  font-size: $medium;
  font-weight: $bold;
}
.poke-nombre{
  font-size: $medium;
  font-weight: $bold;
}
#pokemon-id{
  font-size: $large;
  font-weight: $bold;
}

.titulo-imagen{
  font-size: $small;
  font-weight: $bold;
}
.titulo-tipo{
  font-size: $small;
  font-weight: $bold;
}
.titulo-grafico{
  font-size: $xx-large;
  font-weight: $bold;
}