@media (min-width: 768px){

.imagen-titulo{
    position:relative;
    left:35rem;
    bottom: 4rem;
}
}

@media (max-width: 767.98px){

    .imagen-titulo{
        position:relative;
        left:3rem;
        bottom: 4rem;
       
    }

}